<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--web related common things-->
    <add key="url" value="https://en-gb.facebook.com/login/"/>
    <add key="env" value="prod"/>
    <add key="grid" value="N"/>
    
    
    <!--credentials of local-->
    <add key="username" value=""/>
    <add key="psscode" value=""/>



    <!--credentials of production-->
    <add key="username" value=""/>
    <add key="psscode" value=""/>
    
    
    <!--path to different files-->
    <add key="Exelpath" value=""/>
    <add key="reportPath" value=""/>
    <add key="logpath" value=""/>
    <add key="screenpath" value=""/>
    <add key="chromedriverPath" value="F:\supportsoftware\geckodriver.exe"/>
    <add key="firefoxdriverpath" value="F:\supportsoftware\geckodriver.exe"/>
    <add key="iedriverpath" value=""/>


    <!--path to links-->
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>

    <!--path to buttons-->
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>

    <!--path to texts-->
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>
    <add key="env" value=""/>



    <!--mobile capabilities-->
    <add key="platform" value=""/>
    <add key="version" value=""/>
    <add key="mobile" value=""/>
    <add key="udid" value=""/>
    <add key="apkpath" value=""/>
    
    <!--appium details-->
    <add key="appiumpath" value=""/>
    


  </appSettings>
</configuration>